<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/mainMenu.js" defer></script>
</head>

<body onload="showElevatedOptions(1)">
	<div class="logoutIcon">
		<a href="/signIn" title="Logout">
			<span class="material-icons">logout</span>
		</a>
	</div>
	<div class="header">
		<h1 class="primary-message">Main Menu</h1>
	</div>

	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<div class="menuWrapper">
			<div>
				<a href="/" class="button">Start Transaction</a>
			</div>
			<div>
				<br><br>
				<a href="/productListing/" class="button">View Products</a>
			</div>
			<div id="createEmployee" style="visibility:hidden">
				<br><br>
				<a href="/" class="button">Create Employee</a>
			</div>
			<div id="salesReport" style="visibility:hidden">
				<br><br>
				<a href="/" class="button">Sales Report</a>
			</div>
			<div id="cashierReport" style="visibility:hidden">
				<br><br>
				<a href="/" class="button">Cashier Report</a>
			</div>
		</div>

		<div class="hidden">
			<input type="checkbox" id="isRefreshed" class="hidden">
			<script type="text/javascript">
				window.onunload = function() {
					const isRefreshedElement = document.getElementById("isRefreshed");

					if(!isRefreshedElement.checked) {
						isRefreshedElement.checked = true;
					} else {
						isRefreshedElement.checked = false;
						location.reload();
					}
				}
			</script>
		</div>
	</div>

</body>

</html>
